<style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
</style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
</style>
:root{
    --colorprimary: #618264;
    --colorsecondary: #443434;
    --font-family: 'IBM Plex Sans', sans-serif;
    --font-family: 'Open Sans', sans-serif;
    --border-radius: 20px;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    /* background-color: grey; */
}
.premiere{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.img-1{
    background: url(./images/téléchargement__1_-removebg-preview\ 1.png);
    width: 103px;
height: 69px;
margin-top: 20px;
margin-left: 45px;

}
a{
    text-decoration: none;
    text-transform: none;
    color: black;
    width: 647px;
height: 35px;
margin-top: 37px;
margin-left: 91px;

}
button{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    width: 203px;
height: 69px;
    margin-top: 24px;
    margin-left: 58px;
    margin-right: 30px;
    background-color: #618264;
    color: #fff;
}
.page{
    display: flex;
    flex-direction: column;
}
.deuxiemen{
    display: flex;
}
.img-2{
    background: url(./images/Francis-Ngannou-domine-Ciryl-Gane-au-sol-et-remporte-le-combat-par-decision-unanime\ 1.png);
    background-size: cover;
    width: 841.64px;
height: 622px;
top: 157px;
left: 64px;
border-radius: var(--border-radius);


}
input{
    background-color: #618264;
    width: 15px;
    height: 142px;

}
.note{
    margin-left: 20px;
    margin-top: 500px;
    background-color: rgba(0, 0, 0, 0.466);
    display: flex;
}
h1{
    margin-left: 10px;
    font-size: var(--font-family);
    font-family: IBM Plex Sans Hebrew;
font-size: 40px;
font-weight: 700;
line-height: 52px;
letter-spacing: 0em;
text-align: left;
color: #fff;
}
span{
    margin-left: 10px;
    font-family: IBM Plex Sans Hebrew;
font-size: 20px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: #fff;
margin-top: 20px;
}
.colum{
    display: flex;
    flex-direction: column;
}
.div-1{
    display: flex;

}
.img3{
    background: url(./images/annie-spratt-cVEOh_JJmEE-unsplash\ 1.png);
    width: 235px;
height: 150px;
top: 220px;
left: 970px;
border-radius: 10px;

}
.input-2{
    width: 13px;
height: 50px;
top: 151px;
left: 970px;

}
h2{
    width: 189px;
height: 52px;
top: 227px;
left: 1221px;

}
h6{
    color: #618264;
}
.commentaire{
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
width: 201px;
height: 51px;
margin-top: 25px;
}
.img4{
    background: url(./images/images\ \(5\)\ 1.png);
    width: 235px;
height: 150px;
top: 424px;
left: 970px;
border-radius: 10px;

}
.img5{
    background: url(./images/téléchargement\ \(3\)\ 1.png);
    width: 235px;
height: 150px;
top: 424px;
left: 970px;
border-radius: 10px;

}
.troisieme{
    display: flex;
}
.div-2{
    display: flex;
    flex-direction: column;
}
.img6{
    background: url(./images/201606-cmr-11-lpr-2\ 1.png);
    background-size: cover;
    width: 343px;
height: 353px;
top: 913px;
left: 64px;
border-radius: 10px;

}
.img7{
    background: url(./images/images\ \(6\)\ 1.png);
    background-size: cover;
    width: 343px;
height: 353px;
top: 913px;
left: 64px;
border-radius: 10px;

}
.img8{
    background: url(./images/1200-L-can-norme-surprise-le-cameroun-battu-par-la-namibie\ 1.png);
    background-size: cover;
    width: 343px;
height: 353px;
top: 913px;
left: 64px;
border-radius: 10px;

}
.ciquime{
    display: flex;
}
.img9{
    background: url(./images/Rectangle\ 22.png);
    width: 718px;
height: 471px;
top: 2539px
left: 65px
border-radius: 20px

}